<div class="arrow arrow-left">
    <img src="assets/ToLeft.png" />
</div>
<div id="info-tabset">
    <div id="info-main" class="info-tab active">
        <div id="info-logo">
            <img src="assets/logo.png"/>
        </div>
        <div id="info-meta">
            <p>Versão 2.0.0</p>
            <a href="http://vlibras.gov.br" target="_blank">vlibras.gov.br</a>
        </div>
        <div id="info-text">
            <p>O VLibras é uma ferramenta aberta de distribuição livre, desenvolvida para melhorar o acesso à informação das pessoas surdas brasileiras.</p>
            <p>Qualquer dúvida ou questionamento, envie uma mensagem para o Núcleo de Pesquisa e Extensão LAViD - Centro de Informática - UFPB através do e-mail. contato@lavid.ufpb.br</p>
        </div>
    </div>
    <div id="info-realizadores" class="info-tab">
        <h2>Realizadores</h2>
        <img id="gov-logo" class="logo" src="assets/Gov.png" /><br /><br />
        <img class="logo" src="assets/Lavid.png" />
        <img id="ufpb-logo" class="logo" src="assets/UF.png" />
        <img class="logo" src="assets/RNP.png" /><br /><br />
        <img class="logo" src="assets/UFCG.png" />
        <img class="logo" src="assets/LSD.png" />
        <img class="logo" src="assets/CamaraDosDps.png" />
    </div>
    <div id="info-tab-bullets">
        <span class="info-bullet active"></span>
        <span class="info-bullet"></span>
    </div>
</div>
<div class="arrow arrow-right active">
    <img src="assets/ToRight.png" />
</div>
