@import '~scss/flexbox';

.controls {
  @include flexbox;
  @include align-items(center);

  padding: 10px;
  width: calc(100% - 10px);
  height: 60px;
  margin: 0 5px;

  background: url(assets/Base.png) no-repeat center center;
  background-size: 100% 100%;

  .controls-play, .controls-stop, .controls-slider, .controls-subtitles {
    margin: 0 10px;
  }

  .controls-play:before { content: url(assets/Play.png); }
  &.playing .controls-play:before { content: url(assets/Pause.png);  }
  &.stopped .controls-play:before { content: url(assets/Repeat.png); }
  .controls-stop:before { content: url(assets/Stop.png); }
  &.subtitles .controls-subtitles:before { content: url(assets/Subtitles.png) }
  .controls-subtitles:before { content: url(assets/SubtitlesDisabled.png) }

  .controls-slider {
    @include flexbox;
    @include align-items(center);

    -webkit-appearance: none;
    width: 100%;
    margin: 2.5px 0;
    height: 7px;
    background-color: transparent;

    &:before {  content: url(assets/Slow.png);  }
    &:after {  padding-left: 5px; content: url(assets/Fast.png);  }

    .slider {
      width: 100%;
      height: 7px;

      &.noUi-target { box-shadow: none; border: 0; }
      &.noUi-connect { background-color: #fff; }
      .noUi-background { background-color: #333; box-shadow: none; }
      .noUi-handle {
        width: 20px;
        height: 20px;
        left: -8px;
        top: -8px;
        border-radius: 50%;
      }

      .noUi-handle:after, .noUi-handle:before { display: none; }
    }
  }
}
