html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  font-size: 16px;
}

[vp] {
  height: 100%;
  width: 100%;
  z-index: 1;

  canvas { width: 100%; height: 100% }

  [vp-info-screen-btn] {
    position: fixed;
    top: 7px;
    right: 5px;
    z-index: 4;
  }

  [vp-message-box] {
    z-index: 5;
  }

  [vp-info-screen] {
    z-index: 3;
  }

  [vp-controls] {
    position: fixed;
    bottom: 7px;
    max-width: 560px;
    z-index: 2;
  }
}

@media (min-width: 560px) {
  [vp] [vp-controls] {
    left: 50%;
    margin-left: -275px;
  }
}
