.message-box {
  position: fixed;
  top: -5em;
  left: 0;
  width: 100%;
  padding: 1em;
  font-size: 1em;
  word-wrap: break-word;
  color: #000;
  opacity: 0;
  -moz-transition: all .15s ease .15s;
  -webkit-transition: all .15s ease .15s;
  transition: all .15s ease .15s;
  -moz-box-shadow: 0px 2px 5px #888888;
  -webkit-box-shadow: 0px 2px 5px #888888;
  box-shadow: 0px 2px 5px #888888;

  &.active {
    top: 0;
    opacity: 1;
  }

  &.info {
    background-color: #3b8bba;
    color: #ffffff;
  }

  &.warning {
    background-color: #f8ecad;
    color: #7c6d1f;
  }

  &.success {
    background-color: #d6e9c6;
    color: #468847;
  }

  &.default {
    background-color: #e6e6e6;
    color: #8c8c8c;
  }

  a {
    color: inherit;
  }
}
