.progress {
  $loading-brand-height: 150px;
  $loading-progress-height: 15px;
  $loading-width: 150px;
  $loading-height: $loading-brand-height + $loading-progress-height;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -$loading-width / 2;
  margin-top: -($loading-height / 2 + 10);
  width: $loading-width;
  text-align: center;

  .brand {
    height: $loading-brand-height;
  }

  .progressbar {
    margin: 10px;
    background-color: #444444;
    width: 100%;
    height: $loading-progress-height;
    padding: 0;
    margin: 0;

    .bar {
      width: 0;
      background-color: #003366;
      height: $loading-progress-height;
    }
  }
}
